@charset "utf-8";

@media only screen and (orientation: landscape){
    #faciTab .interiorView .swiper-wrapper {margin-bottom: 6rem;}
}


@media all and (max-width: 768px) {
    html {font-size: 24px;}
}

@media all and (max-width: 640px) {
    html {font-size: 22px;}
}

@media all and (max-width: 480px) {
    html {font-size: 20px;}
}

@media screen and (max-width: 375px) {
    html {font-size: 18px;}
}




