@charset "utf-8";

/* sub common */
#subTit {position: relative; background: no-repeat center center/cover; height: 35vh; display: flex; align-items: center; justify-content: center; padding-top: 30px;}

.cnt01 {padding-top: 3rem;}



/* sub2~5 common */
.btmbnr {background: url(../sub/images/btm_bnr.jpg) no-repeat center top;}






/* ----------------sub1------------------------ */
.sub01 #subTit {background-image: url(../sub/images/sub1_titbg.jpg);}


/* ----------------sub2------------------------ */
.sub02 #subTit {background-image: url(../sub/images/sub2_titbg.jpg);}



/* ----------------sub3------------------------ */
.sub03 #subTit {background-image: url(../sub/images/sub3_titbg.jpg);}




/* ----------------sub4------------------------ */
.sub04 #subTit {background-image: url(../sub/images/sub4_titbg.jpg);}


/* ----------------sub5------------------------ */
.sub05 #subTit {background-image: url(../sub/images/sub5_titbg.jpg);}
